@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

.page {
    width: 90%;
    padding: 8% 0 0;
    margin: auto;
}

.container {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 90%;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.col-xs-12 {
    padding-bottom: 10px;
}

.container h5 {
    font-family: 'Mochiy Pop One', sans-serif;
    margin-bottom: 30px;
    text-align: center;
}

.logout button {
    margin-bottom: 5px;
    float: right;
    position: absolute;
    margin-left: 40%;
}

select {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 45%;
    border: 0;
    margin: 0 0 5px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 12px;
}

.table-responsive {
    position: relative;
}

.input-group-btn {
    margin-left: 2%;
}

body {
    background: #8e1099;
    /* fallback for old browsers */
    background: linear-gradient(to left, #961244, #933ecc);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}