@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

.page {
    width: 30%;
    padding: 3% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form select {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #8e1099;
    /* fallback for old browsers */
    background: linear-gradient(to left, #bd1f5b, #933ecc);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #8e1099;
    /* fallback for old browsers */
    background: linear-gradient(to left, #933ecc, #bd1f5b);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 90%;
    margin: 0 auto 100px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.container h5 {
    font-family: 'Mochiy Pop One', sans-serif;
    margin-bottom: 30px;
    text-align: center;
}

.logout button {
    margin-bottom: 20px;
    margin-top: 20px;
}

select {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 45%;
    border: 0;
    margin: 0 0 5px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 12px;
}

.table-responsive {
    position: relative;
}

.input-group-btn {
    margin-left: 2%;
}

body {
    background: #8e1099;
    /* fallback for old browsers */
    background: linear-gradient(to left, #961244, #933ecc);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}