@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

.pengecekan {
    width: 800px;
    padding: 8% 0 0;
    margin: auto;
}

.profile {
    width: 800px;
    margin-bottom: 10px;
    background-color: white;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 800px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 90%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #52b8ab;
    width: 90%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #52b8ab;
}

.form .login-form h4 {
    font-family: 'Mochiy Pop One', sans-serif;
    margin-bottom: 5%;
}

.form .register-form h4 {
    font-family: 'Mochiy Pop One', sans-serif;
    margin-bottom: 5%;
}

.pengecekan img {
    width: 50px;
    padding: 10px;
    margin-left: 5%;
}

.profile a {
    text-decoration: none;
    color: black;
    font-family: 'Oxygen',
        sans-serif;
    font-size: 15pt;
}

.logout {
    float: right;
    padding: 10px;
    padding-right: 30px;
}

.logout button {
    padding: 5px;
}

.form h4 {
    font-family: 'Mochiy Pop One', sans-serif;
    margin-bottom: 5%;
}

.profile .namaprofile {
    font-size: 12pt;
}

.status {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: rgb(184, 10, 10);
}

body {
    background: #8e1099;
    /* fallback for old browsers */
    background: linear-gradient(to left, #961244, #933ecc);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}